<div class="post comments">
  {{#each this}}
  {{User.username}}
  <section class="m-3 p-2 comment">
    <div class="meta d-flex justify-content-between">
      <h6 class="comment-user">{{comment.user.username}} on {{format_date created_at}}</h6>
    </div>
    <div class="text">
      <p>{{comment_text}}</p>
    </div>
  </section>
  {{/each}}
</div>
