<section class="flex-container m-3 row">
    <form id="new-post">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="post-title">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">Write your thoughts here:</label>
            <textarea class="form-control" id="post-text" rows="3"></textarea>
        </div>
        <button type="submit" class="float-end btn btn-info">Submit</button>
    </form>
</section>
<script src="/js/add-post.js"></script>