<div class="row">
    <div class="col d-flex flex-column login" id="oldUser">
        <div>
            <h2>Returning User</h2>
        </div>

        <form id="return-login">
            <div class="mb-3">
                <label for="old-username" class="form-label">Username</label>
                <input type="text" class="form-control" id="old-username" aria-describedby="username">
            </div>
            <div class="mb-3">
                <label for="old-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="old-password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <div>
        <h2><a href="/signup">New User? Make an account here!</a></h2>
    </div>
</div>